{%extends 'layouts/default.html'%}
{%block title%}Homepage{%endblock%}
{%block content%}
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="card border-success mb-3" style="margin-top: 20px;max-width: 18rem;">
        <div class="card-header bg-transparent border-success">Dashboard Summary</div>
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text">
            All users: 5
          </p>
          <p class="card-text">
            All Processes: 15
          </p>
          <p class="card-text">
            Downloads: 5500
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="card-deck">
          <div class="card bg-light mb-3" style="margin-top: 20px;max-width: 18rem;">
            <div class="card-header">Site Statistics</div>
            <div class="card-body">
              <h5 class="card-title">Online users</h5>
              <p class="card-text">
                <canvas id="myChart2"></canvas>
              </p>
            </div>
          </div>
          <div class="card bg-light mb-3" style="margin-top: 20px;max-width: 18rem;">
            <div class="card-header">Site Statistics</div>
            <div class="card-body">
              <h5 class="card-title">Downloads</h5>
              <p class="card-text">
                <canvas id="myChart4"></canvas>
              </p>
            </div>
          </div>
          <div class="card bg-light mb-3" style="margin-top: 20px;max-width: 18rem;">
            <div class="card-header">Site Statistics</div>
            <div class="card-body">
              <h5 class="card-title">Sign Ups</h5>
              <p class="card-text">
                <canvas id="myChart5"></canvas>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="card-deck">
          <div class="card bg-light mb-3" style="margin-top: 20px;max-width: 18rem;">
            <div class="card-header">Site Statistics</div>
            <div class="card-body">
              <h5 class="card-title">Link Clicks</h5>
              <p class="card-text">
                <canvas id="myChart6"></canvas>
              </p>
            </div>
          </div>
          <div class="card bg-light mb-3" style="margin-top: 20px;max-width: 18rem;">
            <div class="card-header">Site Statistics</div>
            <div class="card-body">
              <h5 class="card-title">Resource use</h5>
              <p class="card-text">
                <canvas id="myChart1" width="" height="300px"></canvas>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{%endblock%}
{%block styles%}
<style>
  .card-header,.card-title {
    text-align: center;
  }
</style>

{%endblock%}
{%block script%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script type="text/javascript">
var ctx1 = document.getElementById("myChart1").getContext('2d');
var ctx2 = document.getElementById("myChart2").getContext('2d');
var ctx4 = document.getElementById("myChart4").getContext('2d');
var ctx5 = document.getElementById("myChart5").getContext('2d');
var ctx6 = document.getElementById("myChart6").getContext('2d');
var data = {
  labels: ["Chrome", "Firefox", "Safari", "Opera"],
  datasets: [{
    label: 'Count',
    data: [12, 19, 3, 5],
    position: 'bottom',
    fill: false,
    backgroundColor: [
      'rgba(255, 99, 132, 0.7)',
      'rgba(54, 162, 235, 0.7)',
      'rgba(255, 206, 86, 0.7)',
      'rgba(75, 192, 192, 0.7)',
      'rgba(153, 102, 255, 0.7)',
      'rgba(255, 159, 64, 0.7)'
    ],
    borderColor: [
      'rgba(255,99,132,1)',
      'rgba(54, 162, 235, 1)',
      'rgba(255, 206, 86, 1)',
      'rgba(75, 192, 192, 1)',
      'rgba(153, 102, 255, 1)',
      'rgba(255, 159, 64, 1)'
    ],
    borderWidth: .5
  }]
};
var options =  {
  // scales: {
  //   yAxes: [{
  //     ticks: {
  //       beginAtZero:true
  //     }
  //   }]
  // },
  legend: {
    display: true,
    position: 'bottom'
  }
}

var myLineChart = new Chart(ctx1, {
  type: 'line',
  data: data,
  options: options
});
var myPieChart = new Chart(ctx2,{
  type: 'pie',
  data: data,
  options: options
});
var myPieChart = new Chart(ctx4,{
  type: 'pie',
  data: data,
  options: options
});
var myPieChart = new Chart(ctx5,{
  type: 'pie',
  data: data,
  options: options
});
var myPieChart = new Chart(ctx6,{
  type: 'pie',
  data: data,
  options: options
});

</script>
{%endblock%}
