{%extends 'layouts/default.html'%}
{%block title%}Homepage{%endblock%}
{%block content%}
<section class="login-block">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 loginarea">
        <h2 class="text-center">Login Now</h2>
        <form class="login-form">
          <div class="form-group">
            <label for="exampleInputEmail1" class="text-uppercase">Username</label>
            <input type="text" class="form-control" placeholder="">

          </div>
          <div class="form-group">
            <label for="exampleInputPassword1" class="text-uppercase">Password</label>
            <input type="password" class="form-control" placeholder="">
          </div>


          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input">
              <small>Remember Me</small>
            </label>
            <button type="submit" class="btn btn-login float-right">Submit</button>
          </div>
        </form>
        <div class="registerlink">
          Not a member?
          <a href="{{url_for('register')}}" class="">Register here</a>
        </div>

      </div>
    </div>
  </section>
  {%endblock%}

  {%block styles%}
  <style>
  .login-block{
    background: #DE6262;
    background: -webkit-linear-gradient(to bottom, #FFB88C, #DE6262);
    background: linear-gradient(to bottom, #FFB88C, #DE6262);
    float:left;
    width:100%;
    padding : 50px 0;
  }
  .banner-sec{
    min-height:500px;
    border-radius: 0 10px 10px 0;
    padding:0;
  }
  .container{
    background:#fff;
    border-radius: 10px;
    box-shadow:15px 20px 0px rgba(0,0,0,0.1);
  }
  .carousel-inner{
    border-radius:0 10px 10px 0;
  }
  .carousel-caption{
    text-align:left; left:5%;
  }
  .loginarea{
    padding: 50px 30px; position:relative;
  }
  .loginarea .copy-text{
    position:absolute;
    width:80%;
    bottom:20px;
    font-size:13px;
    text-align:center;
  }
  .loginarea .copy-text i{
    color:#FEB58A;
  }
  .loginarea .copy-text a{
    color:#E36262;
  }
  .loginarea h2{
    margin-bottom:30px;
    font-weight:800;
    font-size:30px;
    color: #DE6262;
  }
  .loginarea h2:after{
    content:" ";
    width:100px;
    height:5px;
    background:#FEB58A;
    display:block;
    margin-top:20px;
    border-radius:3px;
    margin-left:auto;
    margin-right:auto
  }
  .btn-login{
    background: #DE6262;
    color:#fff;
    font-weight:600;
  }
  .banner-text{
    width:70%;
    position:absolute;
    bottom:40px;
    padding-left:20px;
  }
  .banner-text h2{
    color:#fff;
    font-weight:600;
  }
  .banner-text h2:after{
    content:" ";
    width:100px;
    height:5px;
    background:#FFF;
    display:block;
    margin-top:20px;
    border-radius:3px;
  }
  .banner-text p{
    color:#fff;
  }
  .registerlink {
    margin-top: 45px;
    text-decoration: none;
  }
</style>
{%endblock%}
